[2020-03-03 15:21] michalbundyra opened #1 "Provide seamless integration with Laminas MVC and Mezzio apps"
We'd like to provide seamless integration with Laminas MVC and Mezzio application,
so that developer can run just:

[code]

and start using the tool:

[code]

[2020-03-03 15:24] michalbundyra opened #2 "Lazy loading commands"
We'd like to provide some layer for lazy loading commands in out cli application,
so that we do not need load all dependencies for all registered commands on listing commands, etc.

Probably we can provide some wrapper and use static `getDefaultName` method on command.

Should be investigated more and implemented accordingly.

I think it is not the highest priority and can be done in the next mino

[2020-03-03 15:25] michalbundyra opened #3 "Wrapper for application"
We should provide wrapper for the original symfony console application,
so that our `bin/laminas-cli` script is much simpler and testable.

It might be useful also for #2.

[2020-03-03 15:32] michalbundyra opened #4 "Dev commands - additional commands configuration"
We want provide some generic command configuration which will be easy to follow in any laminas-compatible package (laminas, mezzio etc...).

Do we need configuration for dev commands available only in dev mode?
Maybe it will just depend if the package is installed (`require` or `require-dev` section of `composer.json`)?

The first suggestion for the configuration will be as simple as:

[code]

Of

[2020-03-03 19:26] kynx commented on #2
Would https://symfony.com/doc/current/console/lazy_commands.html get us anywhere?

Great to see this project, BTW :)

[2020-03-03 20:43] michalbundyra commented on #2
@kynx Nice one, thanks! We have to try, but it looks promising 👍

[2020-03-09 23:03] divix1988 opened #5 "Examples of usage"
Are there any example scripts which would show how to create any custom plugins via laminas-cli?

[2020-03-10 08:11] michalbundyra commented on #5
@divix1988 Not sure what you mean. The package is not yet complete and we can create it any way we want.

Have you seen [notes in README.md](https://github.com/michalbundyra/laminas-cli#custom-command)?

If you are asking about something else, please clarify your question.

[2020-03-10 14:47] divix1988 commented on #5
Yes I've seen the notes.

I wasn't aware it's unfinished component. I will look forward for the end results.

BTW would you mind if I will outline your component in the book?

[2020-03-10 14:52] michalbundyra commented on #5
@divix1988

I've started it last week but I had this idea for a long time in my head.

No problem, but please remember that it is uncompleted, and even non-usable component right now.
The plan is to move it into [Laminas organisation](https://github.com/laminas) and update other components to use it.

Also, please remember that we might the way we configure the component, etc.
You can see other ti

[2020-03-10 14:52] #5 closed

[2020-03-24 21:10] #2 closed

[2020-03-25 15:46] #1 closed

[2020-04-06 19:50] michalbundyra opened #8 "Change command name from laminas-cli to laminas"
As discussed on TSC meeting we want to change from `vendor/bin/laminas-cli` to `vendor/bin/laminas`.

[2020-04-06 19:51] michalbundyra opened #9 "Command autocomplete"
Adds implementation for autocompleting command names as suggested by @akrabat

[2020-04-06 22:27] divix1988 opened #10 "Windows usage"
Can we add an information how to run laminas-cli commands on Windows machines?

The following seems to be working:
[code]

[2020-04-07 13:57] #8 closed

[2020-04-10 21:19] geerteltink commented on #4
How about this:

[code]

It should use the develop mode detection to enable or disable the commands.

[2020-04-10 21:24] geerteltink opened #11 "Lazy command loader"
### Feature Request

Would there be interest in a lazy command loader? The downside of Symfony cli is that all commands need to be started, including all dependencies. Some may take a longer time to load. When there are a lot of commands this might slow down the cli before it shows anything. Or causes errors because a service is not ready yet.

By wrapping commands in a lazy command loader, only t

[2020-04-11 05:52] froschdesign commented on #11
@geerteltink
Please look at #2 - "Lazy loading commands"

[2020-04-11 07:11] michalbundyra commented on #11
@geerteltink thanks, already implemented. See #7.

[2020-04-11 11:12] geerteltink commented on #11
That is lazy loading if you execute 1 specific command. What if you run `vendor/bin/laminas`? It still loads and starts all commands to get the descriptions of all commands.

[2020-04-13 15:20] weierophinney commented on #11
@michalbundyra I'm re-opening, because @geerteltink is correct. Right now, the symfony/console application still has to pull each command instance from the container in order to run `configure()` and build the description strings for each command. Geert has previously figured out a way to get that information via reflection, which is what he linked you to.

[2020-04-15 07:42] arueckauer commented on #10
Can you provide some more information, like what you are trying to do and which system you are on?

`vendor\bin\laminas` works fine for me. Tested in cmd, PowerShell 5.1 and PowerShell 7.0 on Windows 10.0.19041.173.

[2020-04-15 07:46] divix1988 commented on #10
@arueckauer I am using latest XAMPP Shell window on Window 10.

[2020-04-15 08:06] arueckauer commented on #10
Looks like, XAMPP is invoking a regular cmd. This is a known issue with cmd, please give `vendor\bin\laminas` a try or use e.g. a PowerShell, which can handle *nix directory separatory (`vendor/bin/laminas`).

[2020-04-15 17:58] #11 closed

[2020-04-24 12:14] boesing opened #17 "Application is not being set to lazy loaded commands"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | dev-master

#### Summary

If using `$this->getHelper('question');`, the command states that there is no helperset available.
The helperset is being attached when adding the command to the Application.

#### Current behavior

[code]

#### How to reproduce

Just try to fetch a helper with the above code.

[code]
#### Expected

[2020-04-24 12:30] geerteltink commented on #17
I'm not sure I understand what you are trying to do. What exactly does the command look like so I can reproduce it.

I'm guessing you are using something in one of the functions called in here:
[code]
Maybe we can wrap those in a try-catch and leave them blank if they can't be accessed, or fallback to normal loading? It depends on how important the description is that is being displayed after the

[2020-04-24 12:56] boesing commented on #17
This is a real-world example of a symfony command which should work:

[code]

The lazy loaded command does not receive the application as its never called with `setApplication`.
The `LazyLoadingCommand` receives all those method calls like:

- `Command::initialze`
- `Command::set*`
- `Command::add*`
- etc.

[2020-04-25 08:50] #17 closed

[2020-05-01 14:46] michalbundyra commented on #3
I think we do not need any wrapper for the application.

For now, to simplify testing, I've provided ApplicationFactory.php in #19, so we can easily test the application with any container.

[2020-05-01 14:46] #3 closed

[2020-05-01 14:48] #10 closed

[2020-05-01 14:53] michalbundyra commented on #9
I am not sure if we can do it better than:
https://github.com/bamarni/symfony-console-autocomplete

It is not something what is gonna work for all systems and it needs additional configuration in the system. We might want to add something to the documentation, how to enable command autocomplete, but I wouldn't treat at as a priority for now.

Please note, it is not even implemented in symfony/cons

[2020-05-01 14:57] michalbundyra commented on #4
I think it is not needed for now. We might want to revisit it in the future if we decide that it could be useful.

[2020-05-01 14:57] #4 closed

[2020-06-04 20:30] michalbundyra opened #23 "Provide ability to configure "array" parameters"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

I'd like to see an option to configure multiple values for parameters.
It should straight forward for `ChoiceParam` as we are using `ChoiceQuestion` and we have there

[code]

but for other types we might need some additional changes.

Of course it does not make sense for `BoolParam`, but with others

[2020-06-04 20:40] michalbundyra opened #24 "Remember previous answers"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

As mentioned in https://github.com/laminas/laminas-cli/pull/20#issuecomment-638685075 I'd like to have an option to remember previous answers and reuse them in the future calls of the same commands.

I think it should work as follows:
- all answers should be remembered somewhere and suggested on the

[2020-06-04 20:50] michalbundyra opened #25 "Opt-in wrapping for 3rd party commands"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

As we would like provide integration layer with many libraries where console commands are already implemented (lets consider for example doctrine-migrations) we might want provide additional 'opt-in wrapping' so these commands can behave the same way us our commands - in case of input params and inte

[2020-06-04 20:56] michalbundyra opened #26 "Additional message for chained 3rd party commands"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

When we provided chained commands there were some security concerns about it, so that's why before continuing execution of the next command we ask user to confirm - and there is ability to skip one command or break the chain.

I think it would be nice to clearly mark commands from 3rd party libraries

[2020-06-09 19:11] michalbundyra opened #27 "Add static analysis tool - preferably: psalm"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

We'd like to add static analysis tool - preferably psalm, so we can catch type issues easily.

[2020-06-10 08:31] tworzenieweb opened #28 "Issue with integrating symfony/messenger command"
### Bug Report

The whole console application might fail completely when an exception is thrown in lazy command configure a part

|    Q        |   A
|------------ | ------
| Version(s)  | dev-master

#### Summary

It looks like the LazyLoadingCommand is having a part that might sometimes throw an exception because of not initialized dependencies of the underlying command.

For example:

[code]

A

[2020-06-10 08:40] michalbundyra commented on #28
@tworzenieweb thanks for reporting the issue.

We kinda know about it. This is the limitation of lazy loading here.
We might consider wrapping it with try...catch and skip lazy loading in case of errors.
BTW not sure if it is the best approach to use dependencies in configure.

[2020-06-10 08:47] tworzenieweb commented on #28
Yes, I agree, I think having try-catch wrapping, as we both mentioned makes a lot of sense. Also maybe within symfony/messenger they can fix it by providing empty array default which is not the case right now

[2020-06-11 08:22] geerteltink commented on #28
The whole reason I had it for my own cli is that Symfony cli loads all dependencies if you list the commands. If you have some expensive dependencies it takes a while which can be annoying at times. Besides that in a few projects I loaded dev commands, commands to initialize and setup a project, generate keys etc. Some things where done when the database or other services were not available. I end

[2020-06-11 16:33] weierophinney commented on #28
Right - this is why I asked the OP if they had an error handler in place.

My take on this is that if there are commands with heavy dependencies that impact performance of `list` and `help`, they likely need to be rewritten, or pushed into a wrapper of some sort.

I think the reason that Symfony hasn't changed the behavior is because there are legitimate cases where _required constructor arguments

[2020-06-11 21:24] weierophinney commented on #23
I'm currently working on this for the 0.1.0 release.

[2020-06-11 21:42] #28 closed

[2020-06-11 22:33] weierophinney commented on #23
I have a working PoC - just need to get tests written! :tada:

- https://github.com/weierophinney/laminas-cli/tree/feature/23-array-parameters

[2020-06-15 14:35] weierophinney commented on #9
I actually like the idea of us just providing documentation on how to use that library — particularly if we can potentially address installing it to work with whatever is in `$PWD/vendor/bin/laminas` (as that will give you project-specific completion).

[2020-06-15 21:42] #23 closed

[2020-06-16 18:18] #9 closed

[2020-06-16 19:10] leolensabl commented on #24
What convention to follow for configs? possibly 'src/configs/command-name.extension'
Can be same storage format for answers as well? 'commandname-answers.extension'

[2020-06-29 14:43] weierophinney opened #33 "Treat commands not found in container as invokable"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

If a command does not require a factory, we should treat it as if it were an "invokable". This can be accomplished by calling `has()` before attempting to pull a command from the container; if that call returns `false`, we would directly instantiate the command.

[2020-06-30 21:06] #33 closed

[2020-06-30 21:07] weierophinney commented on #33
Closed with #34

[2020-07-03 08:49] boesing opened #35 "Replace ocramius/package-versions with composer/package-versions-deprecated"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

To support Composer 2 for all of the laminas packages, we have to replace `ocramius/package-versions` with composers fork `composer/package-versions-deprecated`.
The fork removed the PHP 7.4 limitation and thus provides Composer 2 support for PHP <7.4.

[composer

[2020-07-03 09:16] Ocramius commented on #35
You can also keep the dependencies as they are, and you get out of the box composer 2 support if you run with PHP 7.4+

[2020-07-04 18:32] boesing commented on #35
Yes I know, but actually, we decided in the TSC that all laminas packages should support current PHP versions (which includes PHP 7.3 until december this year). Thus, we have to switch dependencies here. 🤷‍♂️

[2020-07-27 08:14] dev-loki commented on #27
Shall this PR directly fix all psalm issues or just add psalm support with baseline? :)

[2020-07-28 20:57] weierophinney commented on #35
I'm a bit confused.

In reading the README on composer/package-versions-deprecated... it's a 1:1 of ocramius/package-versions. No changes. No additional class aliases. Meanwhile, ocramius/package-versions still works, and can work against each version of PHP that laminas-cli supports. How will it stop working with Composer 2, exactly? That's not spelled out anywhere, which is why I'm wondering wha

[2020-07-29 01:16] Ocramius commented on #35
You can pin to an older `ocramius/package-versions`.

Should somebody need to run PHP 7.1 and composer v2, adding `composer/package-versions-deprecated` (note: not replacing) already does the trick for them.

[2020-07-29 09:40] boesing commented on #35
@weierophinney `ocramius/package-versions` only supports composer v2 if you are on PHP 7.4+
AFAIR, laminas packages are supporting *all* actively supported PHP Versions (which is PHP 7.3+ until december 2020).

As @Ocramius states, every user is free to require `composer/package-versions-deprecated` themselves. As this requires additional steps for many users, I prefer switching the package.

Ther

[2020-07-29 13:36] weierophinney commented on #35
@boesing Okay, that gives me the context I needed - thanks!

[2020-07-29 13:45] #35 closed

[2020-07-29 13:53] weierophinney commented on #26
My concern is that if there is a way to mark the command as "official", any 3rd party library can likely do that as well, unless we have some signing capabilities of some sort... which gets very complicated.

Now, one thing I could potentially do: in the `TerminateListener`, we pull the next command. We could see if the namespace for that command instance is one of ours, and warn if not. Again, th

[2020-07-29 16:52] weierophinney commented on #25
@michalbundyra — I'm really not understanding the use case and workflow for this.

- Is this for use when _chaining_ third-party commands?
- Is this for use when attaching third-party commands to laminas-cli as top-level commands?

You mention specifically doctrine-migrations. That library already uses symfony/console, so what behaviour would differ from laminas-cli, exactly? Are you thinking of c

[2020-07-30 20:38] #26 closed

[2020-07-31 03:51] michalbundyra commented on #26
@weierophinney

This is what I wanted to do. And yes - I do know the risk, but any other solution is to complex. Thanks

[2020-08-08 15:26] boesing opened #40 "Disable xdebug extension before executing any command"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I am using `laminas-cli` to parse some files with `nikic/php-parser` and ran into xdebug errors due to reaching the maximum nesting level which is per-default `256`.
As a quickfix, I'd run `laminas-cli` with `php -n` to avoid loading *any* extension, but I dont

[2020-08-08 15:30] Ocramius commented on #40
I don't think the library should mess with the execution environment at all

[2020-08-08 16:51] geerteltink commented on #40
I agree, xdebug shouldn't be disabled by this component. Can't you configure xdebug in such way that it doesn't start automatically from cli, only when setting a env var?

[2020-08-08 17:44] boesing commented on #40
If xdebug extension is added to `php.ini`, there is no way to remove it in runtime or enable/disable it with an environment variable.
It makes a huge difference in performance when executing a command with `nikic/php-parser`.

However, there is a reason why `composer` added it to its binary. I can change the `xdebug.max_nesting_level` ini setting in my command but that will still keep xdebug enabl

[2020-08-08 17:59] boesing commented on #40
Psalm uses the composer xdebug handler aswell (and extending it with some own stuff).

https://github.com/vimeo/psalm/blob/master/src/psalm.php#L425
https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Fork/PsalmRestarter.php

[2020-08-10 13:59] weierophinney commented on #40
@Ocramius and @geerteltink —

I didn't understand what the reference to composer/xdebug-handler was about, and so decided to look into the package.

Essentially, it grabs the current INI configuration, determines if XDebug is enabled, and, if so, toggles it off and dumps the INI to a temp file, which it then passes to the PHP executable in order to re-run its process.

There's one more bit to it,

[2020-08-10 15:31] weierophinney commented on #40
So, based on:

- The issue (xdebug/xdebug#623) that  @Ocramius has opened against the v2 branch of Xdebug, and
- The fact these issues are essentially mitigated in the upcoming Xdebug v3,

I think we should close this issue, as it will be resolved elsewhere. In the meantime, you can create a wrapper for the laminas binary that disables affected INI settings:

[code]

(or create a command that prox

[2020-08-10 15:31] #40 closed

[2020-08-10 15:32] weierophinney commented on #27
Fixed with #39.

[2020-08-10 15:32] #27 closed

[2020-08-10 15:35] Ocramius commented on #40
Careful! I only opened this against the 3.x branch of Xdebug (for now)!

[2020-08-10 15:36] weierophinney opened #41 "Replace usage of prophecy with native PHPUnit mock objects"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

Following on from #27 / #39, we should move from usage of prophecy for mocking objects to PHPUnit's native mocking library.

One thing I noted in getting the test cases to work with psalm is that I essentially had to suppress static analysis whenever configuring a

[2020-08-10 17:18] #41 closed

[2020-08-10 17:42] michalbundyra opened #44 "3rd-party command notice message"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 0.1.3+

#### Summary

In #37 we have added message about executing 3rd party commands.
In my opinion, per https://github.com/laminas/laminas-cli/pull/37#discussion_r463391626 comment, it should not be added for local commands - defined in the project.

We can check local commands by checking namespaces defined in `autoload(

[2020-08-12 07:34] michalbundyra commented on #25
@weierophinney Sorry for late response.

Actually for both.

My whole point here is to deliver the same user experience and interface for all 3rd-party commands we want to integrate.
If we have (let say again doctrine-migration) we should create probably "laminas-doctrine-migration" with module/config provider where we register commands and provide default configuration so migrations works out of

[2020-08-12 14:59] samsonasik opened #45 "Cannot install laminas-cli in latest mezzio-skeleton"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 0.1.4

#### Summary

Tried to install it in latest mezzio-skeleton

#### Current behavior

Not installable.

#### How to reproduce

[code]

Additional info: php version: 7.4

[2020-08-12 15:06] weierophinney commented on #45
oof. That's more of an issue with the skeleton, to be honest.

For now, change the `ocramius/package-versions` entry in your application to `composer/package-versions-deprecated`. (Ideally, the latter would be marked as a replacement of the former, but that's evidently not the case yet.) After that, try installing laminas-cli.

[2020-08-12 15:07] weierophinney commented on #45
grrr... it IS marked as a replacement. But I forgot that if a package is required in the root package, a nested dependency cannot act as a replacement.

So:

[code]

should get the job done.

[2020-08-12 15:10] samsonasik commented on #45
@weierophinney Thank you, that seems working. I will transfer the issue to the mezzio-skeleton.

[2020-08-12 15:11] samsonasik commented on #45
oh, can't transfer to different org

[2020-08-12 15:14] samsonasik commented on #45
I create PR at https://github.com/mezzio/mezzio-skeleton/pull/26 for it.

[2020-08-12 15:53] weierophinney commented on #45
@samsonasik I think we should also document this solution in the FAQ, because people who have built from either the Mezzio or Laminas skeletons are going to run into this as they start adopting laminas-cli.

[2020-08-12 16:23] samsonasik commented on #45
@weierophinney I created PR for FAQ addition at https://github.com/laminas/laminas-cli/pull/46

[2020-08-14 15:01] #45 closed

[2020-08-18 13:39] vaclavvanik opened #47 "Log command errors"
### Feature Request

Now is not possible to [log command errors](https://symfony.com/doc/current/console.html#logging-command-errors).

`ApplicationFactory` creates own [EventDispatcher](https://github.com/laminas/laminas-cli/blob/30f9426ea6448ee1a7e813c87862381a489b8e71/src/ApplicationFactory.php#L43) and it is not possible to add custom listener.

Maybe EventDispatcher could be grabbed from serv

[2020-10-04 17:45] boesing opened #49 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-12-05 19:20] tobias-trozowski commented on #49
issue can be closed as #50 was merged

[2020-12-06 01:13] #49 closed, assigned to nobody

[2021-01-15 06:49] jbh opened #55 "Param normalization not applied during invocation"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 0.1.5

#### Summary

_When using IntParam, normalization doesn't seem to be applied on invocation, contrary to laminas-cli documentation._

I'm using IntParam like so:

[code]

When I invoke the command with `-k 15`, I get the error:

[code]

If I don't invoke with the option and pass it via the prompted question, normaliza

[2021-01-20 15:04] michalbundyra opened #59 "Wrong $HOME and ~ support in custom vendor-dir config"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 0.1.6 (not released yet)

#### Summary

Merged in #53. The issue is that custom vendor-dir can contain `$HOME` or `~`, so it might be `$HOME/custom-vendor` etc.
Currently we expect there to be just `$HOME` or `~`.

I would suggest also checking if `$home` works and what would happen if we use `/my/path/$HOME/../../something

[2021-01-21 15:04] weierophinney commented on #44
Fixed with #53

[2021-01-21 15:04] #44 closed

[2021-01-21 15:04] weierophinney commented on #47
Fixed with #54

[2021-01-21 15:04] #47 closed

[2021-01-21 15:05] weierophinney commented on #55
Fixed with #58

[2021-01-21 15:05] #55 closed, assigned to weierophinney

[2021-01-21 15:05] weierophinney commented on #59
Fixed with #61

[2021-01-21 15:05] #59 closed, assigned to nobody

[2021-02-17 09:22] boesing opened #63 "Usage in non-laminas projects - custom container provider"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

I'd like to have a way to provide a container without having to create `config/container.php` or `config/application.config.php`.

When developing commands in a library, I'd like to have some kind of "integration" validation.
Like:
- is the command detected from the laminas CLI command
- how does my

[2021-02-24 12:46] alexz707 opened #64 "Unknown command leads to Undefined Index"
### Bug Report

|    Q        |   A
|------------ | ------
| Laminas-CLI  | 1.0.0

#### Summary

When you provide an unknown command to the php file it will result in an Fatal Error:

`php laminas.php unknowncommand

PHP Notice:  Undefined index: unknowncommand in /var/cli/importer/vendor/laminas/laminas-cli/src/AbstractContainerCommandLoader.php on line 64

PHP Fatal error:  Uncaught TypeError: A

[2021-02-26 16:17] weierophinney commented on #63
If you look at how `bin/laminas` is written, it literally seeds the factory for producing the console application by calling `ContainerResolver::resolve()`. What we currently do is:

- If `config/container.php` exists, we use it.
- If `config/application.config.php` exists, we bootstrap the Laminas-MVC application's module manager in order to produce the container.

As such, we can update this cla

[2021-02-26 17:15] weierophinney commented on #64
Fixed with #65; 1.0.1 release will contain the fix.

[2021-02-26 17:15] #64 closed, assigned to weierophinney

[2021-03-09 00:40] boesing commented on #63
In a project which does not follow laminas directory conventions, I'd rather not create a directory `config` just to provide  `config/container.php`.

I think, we could support something like `container.php` in the project root aswell.

[2021-05-18 15:31] #63 closed, assigned to nobody

[2021-05-19 09:15] finn-matti opened #74 "Since upgrade to 1.1.0: Command works without parameter, but not with parameter anymore"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 1.1.0

#### Summary

(I'm not sure what BC stand for, but the template description made it seem that this is the right one for my issue.)

Since the update today my command has stopped working. When executing the command without the parameter I get the expected message:

[code]

If I add the message I get this error:

[2021-05-19 10:36] boesing commented on #74
Thanks for reporting this. Gonna try to create a test for that later on.

[2021-05-19 19:36] boesing commented on #74
@finn-matti might want to try #75?

[2021-05-20 09:56] finn-matti commented on #74
Thanks @boesing! I'll try to do so later today.

[2021-05-20 10:37] boesing commented on #74
@finn-matti maybe give #76 the first try as I guess due to simplicity, that will be the final solution.

[2021-05-20 13:50] finn-matti commented on #74
@boesing FYI: Both #75 and #76 worked for me.

[2021-05-20 17:33] weierophinney commented on #74
Fixed with #76; release of 1.1.1 coming shortly.

[2021-05-20 17:33] #74 closed, assigned to boesing

[2021-06-05 23:34] rarog opened #78 "Optional include of config/laminas-cli.php or something similar"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

For some of the logic of console commands it would be good and safe to be able to include an additional config file to override module options.
In my specific case I use console command to clean caches and in case some of the module listener caches are horribly

[2021-06-07 14:05] weierophinney commented on #78
There's a way to do this as of 1.1.0.

As of 1.1.0, you can specify the `--container` global option and point it at an alternate file that will return your PSR-11 container. So, as an example, you could do something like this:

[code]

Then, when calling laminas-cli for such operations, pass the location of this file:

[code]

[2021-06-07 20:04] froschdesign commented on #78
The example must be added to the documentation.

[2021-06-08 07:30] rarog commented on #78
A small correction to above code, that I successfully implemented in my project. Thx for the help!

[code]

[2021-08-24 14:34] froschdesign commented on #78
This feature should be added to laminas-cli, the current solution is only a workaround.

[2021-09-17 12:20] boesing opened #79 "Command aliases are not supported"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.1.0

#### Summary

Command aliases as supported in `symfony/console` are not supported.
I am actually migrating a project from `zf-console` to `laminas-cli`. A "common" way to declare commands with `symfony/console` is to group commands with colons (`:`, like `module:command`).

To keep BC compatibility with systemd timer

[2021-09-17 12:27] boesing commented on #79
Temporary workaround is to add all aliases to the `commands` map but I would prefer having this handled by this component on its own.

[2021-10-05 13:54] finn-matti opened #83 "Allow a config array for the container, instead of a path"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

It would be great if the ContainerResolver could accept an array as its configuration instead of a path. This would make it function similarly to the [mvc skeleton's index.php](https://github.com/laminas/laminas-mvc-skeleton/blob/1.3.x/public/index.php):

[code]

[2021-10-05 14:06] froschdesign commented on #83
@finn-matti
Something like this: https://github.com/laminas/laminas-cli/issues/78#issuecomment-856529722 ?

[2021-10-05 14:12] finn-matti commented on #83
I guess that would work. However I still think being able to stick an array in the ContainerResolver would be nicer for folks like me, who have to use laminas-cli through an index.php instead of the provided binary because of requirements I can't change.

[2021-10-05 14:20] froschdesign commented on #83
Yes, the _workaround_ from #78 works but it is still a workaround and the feature should be implemented.

---

The goal of #78 and your feature request is the same, right?

[2021-10-05 14:38] finn-matti commented on #83
Yes. The end goal is the possibility of optional includes. But: Preferably as an array, that can just be handed over to the ContainerResolver. Since I didn't see anything as regards to the last part of my request (except that the current solution is a workaround, which lets me infer stuff, but I am not yet certain which is why I'm weaseling around here… apologies!): if the last part of my request

[2021-10-20 08:32] froschdesign opened #84 "Simplify autocompletion support"
### Enhancement

|    Q        |   A
|------------ | ------
| Enhancement | yes
| BC Break    | no

#### Summary

Symfony added "interactive bash completion support" in the console component:

* https://github.com/symfony/symfony/pull/42251

This can be simplify the current support of [autocompletion in laminas-cli](https://docs.laminas.dev/laminas-cli/autocompletion/).

[2021-11-12 11:38] koenkivits opened #85 "Documentation on the migration path from laminas-mvc-console"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

We're migrating our (pretty big) application from `laminas-mvc-console` to `laminas-cli`. So far I genuinely like the new setup, but the migration hasn't been trivial for us so far: we've run into some issues that might be worth documenting. Here are some things

[2021-11-12 12:08] froschdesign commented on #85
@koenkivits
A migration guide is definitely needed!

Why do you need the same events for a CLI command and an application? What is being executed here? Can you give an example?

In a laminas-mvc based application the listeners can be registered via configuration (global, module, etc.), no need for a module extension:

[code]

👍

[2021-11-12 14:23] koenkivits commented on #85
@froschdesign thanks for your quick response!

We mostly used `onBootstrap` for some setup (mostly some logging setup). We also indirectly depended on some `ViewManager` initialization (which happens on bootstrap), although that was due to some flaky code that was probably very specific to our situation (and which has now been refactored).

We also logged the MVC events as event markers in Tideway

[2021-11-30 11:00] froschdesign commented on #85
@koenkivits
_Sorry for the very late response._ 😞

Sounds like it doesn't belong there. Why not configuration and factories?

Refactoring is good. 😃

A topic for the migration guide.

You are right, this part is missing the documentation of laminas-eventmanager. I added a note to the [related project](https://github.com/orgs/laminas/projects/3).

---

Thanks for your feedback and the examples! 👍

[2021-11-30 12:47] internalsystemerror opened #86 "Add support for Symfony v6"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Add support for the newly released Symfony v6 packages specifically `symfony/event-dispatcher` and `symfony/console`.

[2021-11-30 12:53] froschdesign commented on #86
@internalsystemerror
Do you know any problems with the new version of the Symfony components?

[2021-11-30 13:06] internalsystemerror commented on #86
Just the ones mentioned in the PR description. There is a contract change:

`InputInterface::isInteractive(): ?bool` is now `InputInterface::isInteractive(): bool`

and the `Question` class no longer allows mutliple default values to be passed as an array, only a scalar value. I'm operating on the belief that a multiline default value is how that "should" be done instead.

I've tested this branch

[2021-11-30 15:20] #86 closed, assigned to nobody

[2021-12-22 14:40] internalsystemerror opened #89 "Replace composer/package-versions-deprecated with composer-runtime-api"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Due to the need to support PHP 7.3, `ocramius/package-versions` was replaced with `composer/package-versions-deprecated`. ([Issue](https://github.com/laminas/laminas-cli/issues/35), [PR](https://github.com/laminas/laminas-cli/pull/36)). Since support for PHP 7.3

[2021-12-22 14:41] Ocramius commented on #89
Let's roll with `composer-runtime-api` :+1:

[2021-12-23 11:25] #89 closed, assigned to Ocramius

[2021-12-23 11:26] Ocramius commented on #89
Thanks @internalsystemerror!

[2021-12-29 14:04] koenkivits commented on #85
@froschdesign

:zipper_mouth_face: :sweat_smile: (it's been busy here as well)

This was in an older part of our code base so it's hard to tell, but I'm not sure if it was ever a very deliberate decision at all. My guess is that the decision at the time was only based on this line [`laminas-mvc` docs](https://docs.laminas.dev/laminas-mvc/examples/#registering-module-specific-listeners):

(emphasis

[2022-02-18 08:14] boesing commented on #79
Seems to work now. Not sure in which release this got fixed but its not an issue anymore.

[2022-02-18 08:14] #79 closed, assigned to nobody

[2022-03-30 13:47] rarog opened #92 "Usage of SharedEventManager to use events like with laminas-mvc"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Currently only events of ModuleManager are processed by laminas-cli, there is no built-in possibility to automatically attach listeners for console events.
Depending on the decision either 'listeners' from module.config.php could be reused or a new key like 'lis

[2022-03-30 13:56] boesing commented on #92
In fact, we talked about this a few days ago in the laminas slack:
https://laminas.slack.com/archives/C4QBQUEG5/p1647876087036429

TL;DR: Moving `listeners` configuration parsing (which is actually done within the `Application#init` of `laminas-mvc`) should be moved to an `EventManager` delegator.
Imho, all these bootstrapping stuff, etc. should not be executed by laminas-cli since we are not runn

[2022-03-30 15:24] rarog commented on #92
I tried it, but this seemingly creates loop while instantiating.

[code]

[2022-03-30 17:27] rarog commented on #92
If I comment out some of the listeners it seems to work. But I can't track down why the loop is happening. I added some echo commands along the creation of the first listener that seems to cause the loop. After going through the chain of factories I can see an object being created successfully (including echo in the last line of the constructor of the object), but after that I can see echo command

[2022-03-30 17:38] gsteel commented on #92
On the surface of things, this looks like cyclic dependencies - a listener has a dependency on a service and the service is having listeners registered etc. I will normally try to figure out which listener is causing the cyclic dependency and then either refactor it to remove the dependency, or wrap the listener in a LazyListenerAggregate (Part of the Laminas Event Manager Package) - that way you

[2022-03-30 21:16] rarog commented on #92
That's a good thought. The aren't real cyclic dependencies, but several of the objects have also events. If the try to reference the EventManager, while it's still instantiating in the delegator, this would cause this cycle.
In MVC and perhaps upcoming change the EventManager would be instantiated before any events are attached.
I'll go by using a different key in the delegator to only register li

[2022-04-25 14:08] davidwindell commented on #92
Thanks for this, I've just implemented the same in our project and came to a similar issue/conclusion with cyclic dependencies. Ended up injecting the service container into the listener which was causing a problem instead of the actual services as runtime.

[2022-07-21 21:49] renovate[bot] opened #97 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-cli).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

 -

[2022-10-12 09:28] izub commented on #85
@koenkivits did you ever manage to write some documentation on the migration path from `laminas-mvc-console`? We also have a large application that needs migrating and some documentation or a list of the issues you ran into would be very useful!